footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  border-top: #ccc 1px solid
}

table tr.active {
  outline: red 10px solid;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.pull-right {
  float: right;
}


.pull-left {
  float: left
}

.is-my-entry td {
  background-color: black;
  color: white;
}

.picks-list li {
  border-bottom: #ccc 1px solid;
  padding: 10px
}

.ui-sortable-helper {
  background-color: #f4f4f4;
}
li.droppable-slot {
  background-color: #f4f4f4;
  border: #ccc 2px dashed;
  padding: 20px;
}