<section ng-model="leages">
  <div ng-repeat="league in leagues | filter: leagues[whichItem]">
    <h1 class="medium"><strong>{{leagues[whichItem].accessType}} league</strong></h1>
    
    <div ng-show="leagues[whichItem].userIsMember == 'false'">
      <div ng-show="leagues[whichItem].accessType == 'private' ">
        <a href ng-click="showClick()" class="button--primary">
          <span ng-show="showContent()"><i class="fa fa-check-circle"></i> Access Approved</span>
          <span ng-show="!showContent()">Request Access</span>
        </a>
      </div>

      <div ng-show="leagues[whichItem].accessType == 'public' ">
        <a href ng-click="showClick()" class="button--primary">
          <span ng-show="showContent()"><i class="fa fa-check-circle"></i> Joined</span>
          <span ng-show="!showContent()">Join League</span>
        </a>
        <a href ng-show="showContent()" class="button--secondary" ng-click="leave()"><i class="fa fa-times-circle"></i> Leave League</a>
      </div>
    </div>
    
    
    <div class="clear">
      <div class="g-wide--3">
        <p class="xlarge">
          <strong>{{leagues[whichItem].leagueName}}</strong>
        </p>
      </div>
      <div class="g-wide--1 g--last">
        <p class="large tar">
          <strong>{{countMembers(league.entries)}}</strong> members.
        </p>
      </div>
    </div>
     <table class="table-3">
         <colgroup>
             <col span="1">
             <col span="1">
             <col span="1">
         </colgroup>
         <thead>
             <tr>
                <th>Rank</th>
                <th>Entry Name</th>
                <th>Total</th>
             </tr>
         </thead>
         <tbody>
           <tr ng-repeat="entry in league.entries | filter: isMyEntry=true" class="is-my-entry">
             <td>{{entry.rank}}</td>
             <td><i class="fa fa-asterisk"></i> {{entry.entryName}}</td>
             <td>{{entry.total}}</td>
           </tr>
           <tr ng-repeat="entry in league.entries | filter: isMyEntry=false">
             <td>{{entry.rank}}</td>
             <td>{{entry.entryName}}</td>
             <td>{{entry.total}}</td>
           </tr>
         </tbody>
     </table>
     <p><i class="fa fa-asterisk"></i> = My entry</p>
  </div>
  <div>
    <a href="/#/leagues" class="button--primary">Back to Leagues</a>
  </div>
</section>