<section ng-model="leages">
  <div ng-repeat="league in leagues | filter: leagues[whichItem]">
    <h1 class="medium"><strong>{{leagues[whichItem].accessType}} league</strong></h1>
    <div ng-if="leagues[whichItem].accessType == 'private'" >
      <a href ng-click="show = !show" class="button--primary">Request Access</a>
      <div ng-show="show">
        <p>I don't know. You seem a bit suspicious to me. Your request was submitted to the board for review. We'll be in touch, maybe.</p>
      </div>
    </div>

    <div ng-if="leagues[whichItem].accessType == 'public'">
      <a href ng-click="show = !show" class="button--primary">Join League</a>
      <div ng-show="show">
        <p>You're in! Welcome to the league, mang!</p>
      </div>
    </div>
    
    <div class="clear">
      <div class="g-wide--3">
        <p class="xlarge">
          <strong>{{leagues[whichItem].leagueName}}</strong>
        </p>
      </div>
      <div class="g-wide--1 g--last">
        <p class="large tar">
          <strong>{{countMembers(league.entries)}}</strong> members.
        </p>
      </div>
    </div>
     <table class="table-3">
         <colgroup>
             <col span="1">
             <col span="1">
             <col span="1">
         </colgroup>
         <thead>
             <tr>
                <th>Rank</th>
                <th>Entry Name</th>
                <th>Total</th>
             </tr>
         </thead>
         <tbody>
           <tr ng-repeat="entry in league.entries | filter: isMyEntry=true" class="is-my-entry">
             <td>{{entry.rank}}</td>
             <td><i class="icon icon-tick"></i> {{entry.entryName}}</td>
             <td>{{entry.total}}</td>
           </tr>
           <tr ng-repeat="entry in league.entries | filter: isMyEntry=false">
             <td>{{entry.rank}}</td>
             <td>{{entry.entryName}}</td>
             <td>{{entry.total}}</td>
           </tr>
         </tbody>
     </table>
     <p><i class="icon icon-tick"></i> = My entry</p>
  </div>
  <div>
    <a href="/#/leagues" class="button--primary">Back to Leagues</a>
  </div>
</section>